@import "tailwindcss";

@theme {
  --color-primary: #dc2626;
  /* Red 600 */
  --color-primary-dark: #b91c1c;
  /* Red 700 */
  --color-primary-light: #fca5a5;
  /* Red 300 */

  --color-secondary: #0f172a;
  /* Slate 900 */
  --color-secondary-light: #1e293b;
  /* Slate 800 */

  --color-success: #10b981;
  /* Emerald 500 */
  --color-warning: #f59e0b;
  /* Amber 500 */
  --color-danger: #ef4444;
  /* Red 500 */

  --color-background: #0f172a;
  /* Slate 900 */
  --color-surface: #1e293b;
  /* Slate 800 */
  --color-surface-hover: #334155;
  /* Slate 700 */

  --color-text-main: #f8fafc;
  /* Slate 50 */
  --color-text-secondary: #94a3b8;
  /* Slate 400 */

  --font-sans: "Inter", system-ui, sans-serif;
}

body {
  background-color: var(--color-background);
  font-family: var(--font-sans);
  color: var(--color-text-main);
}