@import "tailwindcss";

@theme {
  --color-primary: #0ea5e9; /* Sky 500 */
  --color-primary-dark: #0284c7; /* Sky 600 */
  --color-secondary: #10b981; /* Emerald 500 */
  
  --color-success: #22c55e; /* Green 500 */
  --color-warning: #eab308; /* Yellow 500 */
  --color-danger: #ef4444; /* Red 500 */
  
  --color-background: #f8fafc; /* Slate 50 */
  --color-surface: #ffffff;
  
  --font-sans: "Inter", system-ui, sans-serif;
}

body {
  background-color: var(--color-background);
  font-family: var(--font-sans);
  color: #1e293b; /* Slate 800 */
}
